# === GODOT ===
.import/
export.cfg
export_presets.cfg
*.godot/
*.import
*.tmp

# === GDExtension / SCons ===
build/
bin/
*.so
*.dll
*.dylib
*.exe
.sconsign.dblite
.sconsign.*
*.o
*.obj
*.a
*.lib

# === VSCode ===
.vscode/
*.code-workspace

# === CLion / JetBrains ===
.idea/
cmake-build-*/

# === OS Files ===
.DS_Store
Thumbs.db
desktop.ini
tarantinoverse/.sconsign.dblite
